## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
import config
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mareeba,AU,-17.00,145.43,89.01,27,43,5.01,scattered clouds
1,1,Bilibino,RU,68.05,166.44,52.90,52,83,10.22,broken clouds
2,2,Bethel,US,41.37,-73.41,62.01,87,1,3.91,clear sky
3,3,Pangnirtung,CA,66.15,-65.71,58.77,53,100,6.71,overcast clouds
4,4,Hobart,AU,-42.88,147.33,57.20,50,75,12.75,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Mahibadhoo,MV,3.78,72.97,82.58,67,64,6.20,broken clouds
8,8,Hithadhoo,MV,-0.60,73.08,84.43,71,36,8.70,scattered clouds
11,11,Gat,IL,31.61,34.76,77.00,91,18,4.00,few clouds
31,31,Tura,IN,25.52,90.22,81.95,78,30,5.95,light rain
33,33,Airai,TL,-8.93,125.41,77.70,33,7,4.76,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                171
City                   171
Country                171
Lat                    171
Lng                    171
Max Temp               171
Humidity               171
Cloudiness             171
Wind Speed             171
Current Description    171
dtype: int64

In [6]:
# 4b. If there were an empty rows, would have been dropped with: Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna(how = 'any')
preferred_cities_df.count()

City_ID                171
City                   171
Country                171
Lat                    171
Lng                    171
Max Temp               171
Humidity               171
Cloudiness             171
Wind Speed             171
Current Description    171
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Mahibadhoo,MV,82.58,broken clouds,3.78,72.97,
8,Hithadhoo,MV,84.43,scattered clouds,-0.60,73.08,
11,Gat,IL,77.00,few clouds,31.61,34.76,
31,Tura,IN,81.95,light rain,25.52,90.22,
33,Airai,TL,77.70,clear sky,-8.93,125.41,
34,Bathsheba,BB,82.40,scattered clouds,13.22,-59.52,
43,Vaini,TO,75.20,moderate rain,-21.20,-175.20,
55,Camocim,BR,76.87,scattered clouds,-2.90,-40.84,
57,Virginia Beach,US,75.99,broken clouds,36.85,-75.98,
60,Atuona,PF,79.02,clear sky,-9.80,-139.03,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
#Checking the output
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Mahibadhoo,MV,82.58,broken clouds,3.78,72.97,Omadhoo Inn
8,Hithadhoo,MV,84.43,scattered clouds,-0.60,73.08,Scoop Guest House
11,Gat,IL,77.00,few clouds,31.61,34.76,רגע בנחת
31,Tura,IN,81.95,light rain,25.52,90.22,Hotel RIKMAN Continental
33,Airai,TL,77.70,clear sky,-8.93,125.41,Juvinal Martin

In [10]:
# 7a. Checking for an empty rows.
hotel_df.count()

City                   171
Country                171
Max Temp               171
Current Description    171
Lat                    171
Lng                    171
Hotel Name             171
dtype: int64

In [18]:
# 7b. If there were an empty rows, would have been dropped with: Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how = 'any')
clean_hotel_df.count()

City                   171
Country                171
Max Temp               171
Current Description    171
Lat                    171
Lng                    171
Hotel Name             171
dtype: int64

In [16]:
#7c. Checking final df before exporting.
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Mahibadhoo,MV,82.58,broken clouds,3.78,72.97,Omadhoo Inn
8,Hithadhoo,MV,84.43,scattered clouds,-0.60,73.08,Scoop Guest House
11,Gat,IL,77.00,few clouds,31.61,34.76,רגע בנחת
31,Tura,IN,81.95,light rain,25.52,90.22,Hotel RIKMAN Continental
33,Airai,TL,77.70,clear sky,-8.93,125.41,Juvinal Martin
34,Bathsheba,BB,82.40,scattered clouds,13.22,-59.52,Atlantis Hotel
43,Vaini,TO,75.20,moderate rain,-21.20,-175.20,Keleti Beach Resort
55,Camocim,BR,76.87,scattered clouds,-2.90,-40.84,Hotel Ilha do Amor
57,Virginia Beach,US,75.99,broken clouds,36.85,-75.98,Hilton Virginia Beach Oceanfront
60,Atuona,PF,79.02,clear sky,-9.80,-139.03,Villa Enata

In [13]:
#8a & 8b. Ceate and export the final Data Frame into a CSV
clean_hotel_df.to_csv("WeatherPy_vacation.csv", index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))