## Deliverable 2. Create a Customer Travel Destinations Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
import config
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [26]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nome,US,64.50,-165.41,48.20,87,20,3.74,few clouds
1,1,Avarua,CK,-21.21,-159.78,71.60,78,92,12.75,light rain
2,2,Lubango,AO,-14.92,13.49,67.33,23,1,4.72,clear sky
3,3,Soyo,AO,-6.13,12.37,72.59,81,28,10.67,scattered clouds
4,4,Ushuaia,AR,-54.80,-68.30,35.60,87,75,16.11,light shower snow

In [35]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [36]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
10,10,Conde,BR,-7.26,-34.91,80.60,74,75,18.34,broken clouds
13,13,San Patricio,MX,19.22,-104.70,77.00,100,90,5.82,overcast clouds
14,14,Marsa Matruh,EG,31.35,27.25,80.60,69,0,5.82,clear sky
17,17,Ahome,MX,25.92,-109.18,82.00,69,90,10.29,overcast clouds
18,18,Batticaloa,LK,7.71,81.69,81.54,85,90,4.36,overcast clouds

In [37]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                224
City                   224
Country                224
Lat                    224
Lng                    224
Max Temp               224
Humidity               224
Cloudiness             224
Wind Speed             224
Current Description    224
dtype: int64

In [38]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna(how = 'any')
preferred_cities_df.count()

City_ID                224
City                   224
Country                224
Lat                    224
Lng                    224
Max Temp               224
Humidity               224
Cloudiness             224
Wind Speed             224
Current Description    224
dtype: int64

In [40]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Conde,BR,80.60,broken clouds,-7.26,-34.91,
13,San Patricio,MX,77.00,overcast clouds,19.22,-104.70,
14,Marsa Matruh,EG,80.60,clear sky,31.35,27.25,
17,Ahome,MX,82.00,overcast clouds,25.92,-109.18,
18,Batticaloa,LK,81.54,overcast clouds,7.71,81.69,
23,Victoria,HK,79.00,heavy intensity rain,22.29,114.16,
30,Axim,GH,77.32,broken clouds,4.87,-2.24,
37,Lorengau,PG,81.75,light rain,-2.02,147.27,
38,Caravelas,BR,79.72,few clouds,-17.71,-39.25,
40,Puerto Ayora,EC,75.20,scattered clouds,-0.74,-90.35,

In [41]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [43]:
#Checking the output
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Conde,BR,80.60,broken clouds,-7.26,-34.91,Pousada Beija Flor
13,San Patricio,MX,77.00,overcast clouds,19.22,-104.70,Hotel Cabo Blanco
14,Marsa Matruh,EG,80.60,clear sky,31.35,27.25,Beau Site
17,Ahome,MX,82.00,overcast clouds,25.92,-109.18,Rancho El Sauce y la Palma
18,Batticaloa,LK,81.54,overcast clouds,7.71,81.69,Grand Star Guest House

In [46]:
# 7a. Checking for an empty rows.
hotel_df.count()

City                   224
Country                224
Max Temp               224
Current Description    224
Lat                    224
Lng                    224
Hotel Name             224
dtype: int64

In [47]:
# 7b. If there were an empty rows, would have been dropped with: Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how = 'any')
clean_hotel_df.count()

City                   224
Country                224
Max Temp               224
Current Description    224
Lat                    224
Lng                    224
Hotel Name             224
dtype: int64

In [49]:
#7c. Checking final df before exporting.
clean_hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Conde,BR,80.60,broken clouds,-7.26,-34.91,Pousada Beija Flor
13,San Patricio,MX,77.00,overcast clouds,19.22,-104.70,Hotel Cabo Blanco
14,Marsa Matruh,EG,80.60,clear sky,31.35,27.25,Beau Site
17,Ahome,MX,82.00,overcast clouds,25.92,-109.18,Rancho El Sauce y la Palma
18,Batticaloa,LK,81.54,overcast clouds,7.71,81.69,Grand Star Guest House
23,Victoria,HK,79.00,heavy intensity rain,22.29,114.16,Mini Hotel Central
30,Axim,GH,77.32,broken clouds,4.87,-2.24,AXIM BEACH RESORT AND SPA
37,Lorengau,PG,81.75,light rain,-2.02,147.27,Lorengau Harbourside Hotel
38,Caravelas,BR,79.72,few clouds,-17.71,-39.25,Pousada dos Navegantes
40,Puerto Ayora,EC,75.20,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
43,Ribeira Grande,PT,77.00,broken clouds,38.52,-28.70,Quinta da Meia Eira
48,Mbandaka,CD,78.19,broken clouds,0.05,18.26,Guest House Epervier
50,Mount Vernon,US,82.99,light rain,40.91,-73.84,Ramada by Wyndham Bronx
53,Sandakan,MY,80.60,few clouds,5.84,118.12,Hotel Sandakan
54,Kapaa,US,78.80,light rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
56,Malanje,AO,82.40,clear sky,-9.54,16.34,Malanje Hotel
57,Guerrero Negro,MX,84.79,clear sky,27.98,-114.06,"Casa Laguna, Bed & Breakfast"
58,Faanui,PF,77.72,light rain,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
62,Ramjibanpur,IN,82.36,moderate rain,22.83,87.62,Joy Guru Bhander
67,Carballo,ES,75.20,scattered clouds,43.21,-8.69,Pazo do Souto

In [51]:
#8a & 8b. Ceate and export the final Data Frame into a CSV
clean_hotel_df.to_csv("WeatherPy_vacation.csv", index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure