## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Isangel,VU,-19.55,169.27,71.46,68,2,3.76,clear sky
1,1,Rehoboth,NaN,-23.32,17.08,35.74,62,0,5.50,clear sky
2,2,Gouyave,GD,12.16,-61.73,87.80,70,75,20.80,broken clouds
3,3,Bluff,NZ,-46.60,168.33,42.01,97,93,5.41,overcast clouds
4,4,Rikitea,PF,-23.12,-134.97,70.90,85,100,15.48,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Gouyave,GD,12.16,-61.73,87.80,70,75,20.80,broken clouds
19,19,Katsuura,JP,35.13,140.30,77.00,92,2,4.16,clear sky
20,20,Amahai,ID,-3.33,128.92,76.66,83,96,4.41,overcast clouds
21,21,Saint-Georges,GD,12.06,-61.75,87.80,70,75,20.80,broken clouds
22,22,Puerto Ayora,EC,-0.74,-90.35,78.80,57,40,23.04,scattered clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                240
City                   240
Country                240
Lat                    240
Lng                    240
Max Temp               240
Humidity               240
Cloudiness             240
Wind Speed             240
Current Description    240
dtype: int64

In [7]:
# 4b. If there were an empty rows, would have been dropped with: Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna(how = 'any')
preferred_cities_df.count()

City_ID                240
City                   240
Country                240
Lat                    240
Lng                    240
Max Temp               240
Humidity               240
Cloudiness             240
Wind Speed             240
Current Description    240
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Gouyave,GD,87.80,broken clouds,12.16,-61.73,
19,Katsuura,JP,77.00,clear sky,35.13,140.30,
20,Amahai,ID,76.66,overcast clouds,-3.33,128.92,
21,Saint-Georges,GD,87.80,broken clouds,12.06,-61.75,
22,Puerto Ayora,EC,78.80,scattered clouds,-0.74,-90.35,
25,Bethel,US,78.01,scattered clouds,41.37,-73.41,
28,Hilo,US,82.40,broken clouds,19.73,-155.09,
30,Atuona,PF,78.60,clear sky,-9.80,-139.03,
34,Saravena,CO,81.81,moderate rain,6.95,-71.88,
37,Celestun,MX,86.04,overcast clouds,20.87,-90.40,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
#Checking the output
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Gouyave,GD,87.80,broken clouds,12.16,-61.73,Rumboat Retreat
19,Katsuura,JP,77.00,clear sky,35.13,140.30,Katsuura Hotel Mikazuki
20,Amahai,ID,76.66,overcast clouds,-3.33,128.92,Peternakan Ayam Bangkok Manisso
21,Saint-Georges,GD,87.80,broken clouds,12.06,-61.75,Siesta Hotel
22,Puerto Ayora,EC,78.80,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel

In [11]:
hotel_df.count()

City                   240
Country                240
Max Temp               240
Current Description    240
Lat                    240
Lng                    240
Hotel Name             240
dtype: int64

In [12]:
#Fill empty rows with Nans and remove Nans.
import numpy as np
hotel_df_nan = hotel_df[hotel_df['Hotel Name']==''] = np.nan

In [13]:
# 7b. If there were an empty rows, would have been dropped with: Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how = 'any')
clean_hotel_df.count()

City                   224
Country                224
Max Temp               224
Current Description    224
Lat                    224
Lng                    224
Hotel Name             224
dtype: int64

In [14]:
#7c. Checking final df before exporting.
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Gouyave,GD,87.80,broken clouds,12.16,-61.73,Rumboat Retreat
19,Katsuura,JP,77.00,clear sky,35.13,140.30,Katsuura Hotel Mikazuki
20,Amahai,ID,76.66,overcast clouds,-3.33,128.92,Peternakan Ayam Bangkok Manisso
21,Saint-Georges,GD,87.80,broken clouds,12.06,-61.75,Siesta Hotel
22,Puerto Ayora,EC,78.80,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
25,Bethel,US,78.01,scattered clouds,41.37,-73.41,Courtyard by Marriott Danbury
28,Hilo,US,82.40,broken clouds,19.73,-155.09,Hilo Hawaiian Hotel
30,Atuona,PF,78.60,clear sky,-9.80,-139.03,Villa Enata
34,Saravena,CO,81.81,moderate rain,6.95,-71.88,Hotel sarare inn
37,Celestun,MX,86.04,overcast clouds,20.87,-90.40,Posada Lilia

In [15]:
#8a & 8b. Ceate and export the final Data Frame into a CSV
clean_hotel_df.to_csv("WeatherPy_vacation.csv", index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))