## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
import config
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.65,115.33,46.00,76,94,2.08,overcast clouds
1,1,Tilichiki,RU,60.47,166.10,45.88,93,100,6.98,overcast clouds
2,2,Kununurra,AU,-15.77,128.73,73.40,82,40,2.21,scattered clouds
3,3,Tocopilla,CL,-22.09,-70.20,63.75,48,6,11.18,clear sky
4,4,Bambous Virieux,MU,-20.34,57.76,72.00,73,75,12.75,shower rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Kununurra,AU,-15.77,128.73,73.40,82,40,2.21,scattered clouds
4,4,Bambous Virieux,MU,-20.34,57.76,72.00,73,75,12.75,shower rain
5,5,Lata,PT,40.16,-8.33,87.01,50,0,13.31,clear sky
6,6,Hanstholm,DK,57.12,8.62,73.99,67,71,8.50,broken clouds
9,9,Grand Gaube,MU,-20.01,57.66,72.00,65,32,10.00,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                333
City                   333
Country                332
Lat                    333
Lng                    333
Max Temp               333
Humidity               333
Cloudiness             333
Wind Speed             333
Current Description    333
dtype: int64

In [6]:
# 4b. If there were an empty rows, would have been dropped with: Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna(how = 'any')
preferred_cities_df.count()

City_ID                332
City                   332
Country                332
Lat                    332
Lng                    332
Max Temp               332
Humidity               332
Cloudiness             332
Wind Speed             332
Current Description    332
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kununurra,AU,73.40,scattered clouds,-15.77,128.73,
4,Bambous Virieux,MU,72.00,shower rain,-20.34,57.76,
5,Lata,PT,87.01,clear sky,40.16,-8.33,
6,Hanstholm,DK,73.99,broken clouds,57.12,8.62,
9,Grand Gaube,MU,72.00,scattered clouds,-20.01,57.66,
10,Albany,US,75.00,light rain,42.60,-73.97,
13,Rikitea,PF,71.49,overcast clouds,-23.12,-134.97,
15,Ankang,CN,72.90,light rain,32.68,109.02,
18,Mpanda,TZ,82.67,broken clouds,-6.37,31.04,
19,Laguna,US,82.00,few clouds,38.42,-121.42,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [3]:
#Checking the output
hotel_df.head()

NameError: name 'hotel_df' is not defined

In [4]:
hotel_df.count()

NameError: name 'hotel_df' is not defined

In [5]:
#Fill empty rows with Nans and remove Nans.
import numpy as np
hotel_df_nan = hotel_df[hotel_df['Hotel Name']==''] = np.nan

NameError: name 'hotel_df' is not defined

In [6]:
# 7b. If there were an empty rows, would have been dropped with: Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how = 'any')
clean_hotel_df.count()

NameError: name 'hotel_df' is not defined

In [7]:
#7c. Checking final df before exporting.
clean_hotel_df.head(10)

NameError: name 'clean_hotel_df' is not defined

In [8]:
#8a & 8b. Ceate and export the final Data Frame into a CSV
clean_hotel_df.to_csv("WeatherPy_vacation.csv", index_label="City_ID")

NameError: name 'clean_hotel_df' is not defined

In [9]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

NameError: name 'clean_hotel_df' is not defined

In [10]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

NameError: name 'clean_hotel_df' is not defined